body{
    background-color: blue;
}

.all{
    width: 72%;
    background-color: rgb(252, 134, 0);
    margin: 120px auto;
    padding: 50px;
    border-radius: 10px;
}

.top{
    text-align: center;
    color: white;
    margin: 100px auto;
    padding: 30px;
}

.menu li{
    display: inline-block;
    width: 150px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.menu li a:link,
.menu li a:visited{
    color: grey;
    text-decoration: none;
}

.menu li a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(114, 114, 114);
}

.menu li a:active{
    text-decoration: underline;
    text-decoration-color: rgb(25, 0, 255);
}

img{
    width: 36%;
}

.logo{
    width: 220px;
}

.pp{
    float: left;
}

#about{
    font-size: 1.7rem;
}

h1{
    font-size: 1.9rem;
    margin-top: 50px;
}