body{
    background-color: blue;
    font-family: 'Lora', serif;
    font-size: 1.5rem;
}

.back{
    background-image: url(../imagens/pngwing.com.png);
    background-attachment: fixed;
}

.all{
    line-height: 2.5rem;
    width: 72%;
    background-color: rgb(252, 134, 0);
    margin: auto;
    padding: 50px;
    border-radius: 10px;
}

.top{
    text-align: center;
    color: white;
    margin: auto;
    padding: 30px;
}

.menu li{
    display: inline-block;
    width: 150px;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.menu li a:link,
.menu li a:visited{
    color: grey;
    text-decoration: none;
}

.menu li a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(114, 114, 114);
}

.menu li a:active{
    text-decoration: underline;
    text-decoration-color: rgb(25, 0, 255);
    color: blue;
}

.portfolio img{
    padding-top: 10px;
    width: 18%;
    border-radius: 8px;
    height: 18%;
    filter: grayscale(0.7);
}

.portfolio img:hover{
    filter: none;
}

.logo{
    width: 220px;
}

.pp img{
    float: left;
    width: 36%;
    padding: 40px;
}

.habilidades label{
    width: 100px;
    display: inline-block;
}

.habilidades progress{
    accent-color: grey;
}

.fa-solid{
    font-size:xx-large;
    color: black;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    line-height: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.5;
}

.fa-solid:hover{
    opacity: 1;
}

#about{
    margin-top: 50px;
    font-size: 1.7rem;
}

#contact img{
    width: 20px;
    padding-right: 7px;
}

h1{
    font-size: 1.9rem;
    margin-top: 50px;
}

h3{
    font-size: 1.5rem;
}