body{
    background-color: blue;
    font-family: 'Lora', serif;
    font-size: 1.5rem;
}

.back{
    background-image: url(../imagens/pngwing.com.png);
    background-attachment: fixed;
}

.all{
    width: 72%;
    background-color: rgb(252, 134, 0);
    margin: auto;
    padding: 50px;
    border-radius: 10px;
}

.top{
    text-align: center;
    color: white;
    margin: auto;
    padding: 30px;
}

.menu li{
    display: inline-block;
    width: 150px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.menu li a:link,
.menu li a:visited{
    color: grey;
    text-decoration: none;
}

.menu li a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(114, 114, 114);
}

.menu li a:active{
    text-decoration: underline;
    text-decoration-color: rgb(25, 0, 255);
}

.portfolio img{
    width: 18%;
}

.logo{
    width: 220px;
}

.pp img{
    float: left;
    width: 36%;
    padding: 40px;

}

#about{
    margin-top: 50px;
    font-size: 1.7rem;
}

h1{
    font-size: 1.9rem;
    margin-top: 50px;
}

h3{
    font-size: 1.5rem;
}