body{
    background-color: blue;
}

.all{
    width: 72%;
    background-color: rgb(252, 134, 0);
    margin: 120px auto;
    padding: 50px;
    border-radius: 10px;
}

.top{
    text-align: center;
    color: white;
}

img{
    width: 36%;
}